/*/////////////////////////////////////////////
//  ggContextMenu        JS/CSS PlugIn V1.0  //
//  Developed by: Ing.Gerardo Garita J.      //
//                FullStack Developer        //
//  email:  info@ggaritaj.com                //
//  date:       friday, 2018-09-10           //
//  last date:  friday, 2018-09-10           //
/////////////////////////////////////////////*/

.ggContextMenu {
    font-family: Tahoma;
    font-size: 14px;
    display: none;
    border: 1px solid #ddd;
    border-radius: 8px;
    position: fixed;
    background-color: #f9f9f9;
    padding: 9px;
    max-width: 250px;
    min-width: 200px;
    max-height: 400px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.ggContextMenu > label {
    height: 25px;
    width: 100%;
    margin: 0px;
    text-align: left;
    color: #337ab7;
    margin-bottom: 10px;
}
.ggContextMenu > div {
    max-width: 250px;
    max-height: 360px;
    overflow: auto;
}
.ggContextMenu.active {
    display: block;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 
        0 1px 10px 0 rgba(0, 0, 0, .12), 
        0 2px 4px -1px rgba(0, 0, 0, .2);
}
.ggContextMenu ul {
    list-style-type:none;
}
.ggContextMenu div ul {
    padding:0px;
    margin:0px;
}
.ggContextMenu > div > ul {
    margin-bottom: 1px;
}
.ggContextMenu > div > ul > li:not(:last-child) {
    border-bottom: 1px solid #ddd;
}
.ggContextMenu li {
    margin-bottom: 10px;
    min-width: 100px;
}
.ggContextMenu li:last-child {
    margin-bottom: 0px;
}
.ggContextMenu li:hover > span {
    color: #e88d00;
}
.ggContextMenu li:hover {
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.ggContextMenu label span.glyphicon {
    margin-right: 5px;
    padding-right: 5px;
    font-size: 18px;
}
.ggContextMenu li span.glyphicon {
    margin-right: 5px;
    padding-right: 5px;
    font-size: 18px;
    border-right: 1px solid #ddd;
}
.ggContextMenu ul li div.sub-level {
    display: none;
    margin-top: 10px;
}
.ggContextMenu ul li div.sub-level.active {
    display: block;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px 5px;
}
.ggContextMenu ul > li > div.sub-level.active {
    background-color: #fcf8e3;
}
.ggContextMenu ul > li > div.sub-level.active > ul li div.sub-level.active {
    background-color: #ffffff;
    font-style:italic;
    font-size:12px;
}
.ggContextMenu ul li.sub-level span.glyphicon {
    border-right: 0px;
    float: right;
    font-size: 14px;
    margin: 0px;
}
.ggContextMenu ul li.sub-level > span.glyphicon:before {
    content: "\e080";
}
.ggContextMenu ul li.sub-level.active > span.glyphicon:before {
    content: "\e113";
}
